{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HOme</title>
    <link rel="stylesheet" href ="{% static 'home.css' %}">
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
        </div>
<ul class="nav-area">
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
<li><a href="#"></a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
Did You <span>Travel From Somewhere?</span></h1>
<a href="TMS/signup/">Sign Up</a>
    <a href="TMS/login">Log In</a>
    </div>
</header>

</body>
</html>