body{
    background-image:url('login.jpg');
    height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}



.site-form{
	margin-top: 100px;
	border: 1px solid #00dba0;
	padding: 20px;
}

.site-form input, .site-form textarea{
	display: block;
	margin: 20px 0 0 0;
	padding: 10px;
}

a.highlight{
	border: 1px solid #00dba0;
	padding: 10px;
	border-radius: 4px;
	color: #00dba0;
}

.helptext, .helptext ul{
	margin: 0 auto 20px;
	color: #bbb;
	font-size: 0.9em;
	display: block;
}

.errorlist li{
	padding: 10px;
	list-style-type: none;
	color: #ff5722;
	margin: 10px 0;
}

.errorlist {
	padding: 0px;
}

.site-form input[type="submit"]{
	background: #00dba0;
	border: 0px;
	color: #fff;
	font-size 1.2em;
	margin: 10px 0;
}